{% extends "base.html" %}

{% block content %}

<div class="hero-box" style="background-image: url('{{ url_for('static', filename='images/bg1.jpg') }}')>
<div class="hero-content">
        <h1>PhotoSpot Finder </h1>
        <p class="hero-description">
    Discover stunning photo spots from hidden gems to iconic landmarks. 
    <br>Capture unforgettable moments with helpful tips and inspiration.
</p>
        <a href="{{ url_for('feed') }}" class="glass-btn">Explore</a>
    </div>
</div>

<hr>

<div class="row text-center mt-4">

<div class="col-md-4">
<div class="card shadow">
<div class="card-body">
<h5>Discover Spots</h5>
<p>Find beautiful places recommended by other photographers.</p>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card shadow">
<div class="card-body">
<h5>Share Reviews</h5>
<p>Leave tips and ratings for photo locations.</p>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card shadow">
<div class="card-body">
<h5>Plan Your Photos</h5>
<p>Know the best time and angle for great pictures.</p>
</div>
</div>
</div>

</div>

{% endblock %}