{% extends "base.html" %}

{% block content %}

<div class="feed-page">

    <h1 class="feed-title">Discover the world</h1>

    <div class="spot-grid">

        {% for spot in spots %}

        <div class="feed-card">

            <img src="{{ spot.image }}" class="feed-img">

            <p class="feed-location">📍 {{ spot.location }}</p>

            <h3 class="feed-name">{{ spot.name }}</h3>

            <a href="/spot/{{ spot.id }}" class="explore-btn">
                Explore
            </a>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}